
*dpi:           185
!Xcursor.theme:  Vanilla-DMZ-AA
Xcursor.theme:  DMZ-Black
Xcursor.size:   48

! Xft settings ---------------------------------------------------------------

Xft.dpi:        185
Xft.antialias:  true
Xft.rgba:       none
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.autohint:   false

xterm*foreground:       #FFFFFF
xterm*background:       #000000
!xterm*faceName:         Terminus:pixelsize=12
!xterm*faceName:         Inconsolata
!xterm*faceSize:         9

URxvt*foreground:       #FFFFFF
URxvt*background:       #000000
!URxvt*font:             xft:Inconsolata:size=9.6
!URxvt*font:             xft:DejaVu Sans Mono:size=7.5
!URxvt*boldFont:         xft:DejaVu Sans Mono:bold:size=7.5
!URxvt*font:             xft:terminus:size=7
!URxvt*boldFont:         xft:terminus:bold:size=7
!URxvt*font:             xft:Inconsolata:size=12:antialias=false
!URxvt*font:             -misc-fixed-medium-r-normal--14-*-*-*-*-*-*-*
!URxvt*boldFont:         -misc-fixed-medium-r-normal--14-*-*-*-*-*-*-*
URxvt*font:             xft:xos4 Terminus:pixelsize=24
URxvt*boldFont:         xft:xos4 Terminus:bold:pixelsize=24
!URxvt*font:             Terminus:pixelsize=12
!URxvt*allowBold:       false
!URxvt*font:             xft:DejaVu Sans Mono:size=7
URxvt*transparent:      false
!URxvt.inheritPixmap:    true
URxvt.shading:          0

!urxvt*depth:            32
!urxvt*background:       rgba:0000/0000/0000/dddd
!URxvt.imLocale:         cs_CZ.UTF-8
URxvt.scrollBar:        false
urxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
!urxvt*depth: 32
URxvt.loginShell:       true
urxvt*termName:         rxvt-256color
URxvt.perl-ext-common: resize-font,font-size

!URxvt.color0:  #000000
!URxvt.color1:  #ff6565
!URxvt.color2:  #93d44f
!URxvt.color3:  #eab93d
!URxvt.color4:  #204a87
!URxvt.color5:  #ce5c00
!URxvt.color6:  #89b6e2
!URxvt.color7:  #cccccc
!URxvt.color8:  #555753
!URxvt.color9:  #ff8d8d
!URxvt.color10: #c8e7a8
!URxvt.color11: #ffc123
!URxvt.color12: #3465a4
!URxvt.color13: #f57900
!URxvt.color14: #46a4ff
!URxvt.color15: #ffffff

! terminal colors ------------------------------------------------------------

! tangoesque scheme
!*background: #000000
!*foreground: #ffffff
! Black (not tango) + DarkGrey
*color0:  #000000
*color8:  #555753
! DarkRed + Red
*color1:  #ff6565
*color9:  #ff8d8d
! DarkGreen + Green
*color2:  #93d44f
*color10: #c8e7a8
! DarkYellow + Yellow
*color3:  #eab93d
*color11: #ffc123
! DarkBlue + Blue
*color4:  #204a87
*color12: #3465a4
! DarkMagenta + Magenta
*color5:  #ce00ce
*color13: #f500f5
!DarkCyan + Cyan (both not tango)
*color6:  #40ffff
*color14: #40ffff
! LightGrey + White
*color7:  #cccccc
*color15: #ffffff


! xscreensaver ----------------------------------------------------------------

xscreensaver.splash: false
xscreensaver.dpmsEnabled: true
!xscreensaver.dpmsStandby: 5
!xscreensaver.dpmsSuspend: 5
!xscreensaver.dpmsOff: 5
xscreensaver.dpmsQuickOff: true
xscreensaver.fade: false
xscreensaver.unfade: false

!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #000000
xscreensaver.Dialog.background:         #aaaaaa
xscreensaver.Dialog.topShadowColor:     #aaaaaa
xscreensaver.Dialog.bottomShadowColor:  #aaaaaa
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #000000
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    0

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8

!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y
